<form [formGroup]="profileForm">

    <div fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column">

        <div fxLayout="column">
            <app-image-selector formControlName="photo"></app-image-selector>
        </div>

        <div fxLayout="column">

            <mat-form-field>
                <input matInput formControlName="phone" placeholder="Телефон">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="firstName" placeholder="Имя">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="lastName" placeholder="Фамилия">
            </mat-form-field>

            <ng-content></ng-content>

        </div>

    </div>

</form>
