<!--Phone entering-->
<div [style.display]="(user$ | async) ? 'none' : 'block'">

  <h3>Введите номер телефона для входа</h3>

  <h3>{{this.authService.error$ | async}}</h3>

  <mat-form-field>
    <input appPhoneInput matInput #phoneInput value="+7" placeholder="Номер телефона" type="tel" inputmode="tel">
  </mat-form-field>

  <button mat-raised-button color="primary" id="sign-in-button" (click)="signIn(phoneInput.value)">Войти</button>

</div>


<!--Confirmation code-->
<div [style.display]="confirmationFormDisplay$ | async">
  <h3>Введите код подтверждения</h3>
  <mat-form-field>
    <input appVerificationCodeInput matInput (codeEntered)="confirmSigningIn(codeInput.value)" #codeInput type="text" name="code"
      inputmode="numeric">
  </mat-form-field>
</div>