<div *ngIf="distributor$ | async as distributor">

    <h1>{{distributor.data().name}}</h1>

    <p>Тел.: <a [href]="'tel:' + distributor.data().phone">{{distributor.data().phone}}</a></p>
    <p>{{distributor.data().description}}</p>

</div>
