<div fxLayout="row wrap" fxLayoutGap="20px grid">

    <a *ngFor="let offer of (offers$ | async)" [routerLink]="['/offers/form', offer._id]">
        <mat-card style="width: 128px; height: 180px;">
            <img src="/assets/offer.png" alt="offer image">
            <h4>{{ offer.title }}</h4>
        </mat-card>
    </a>

</div>
