<form fxLayout="column" [formGroup]="offerForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <input matInput placeholder="Наименование" [formControl]="offerForm.controls['title']">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <!--<mat-error *ngIf="offerForm.controls['title'].hasError('required')">-->
        <!--Email is <strong>required</strong>-->
        <!--</mat-error>-->
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Описание" [formControl]="offerForm.controls['description']"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Стоимость" [formControl]="offerForm.controls['price']" type="number">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Вес" [formControl]="offerForm.controls['weight']" type="number">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Объем" [formControl]="offerForm.controls['volume']" type="number">
    </mat-form-field>

    <div>
        <button type="submit"
                [disabled]="offerForm.pristine || offerForm.invalid" mat-raised-button color="primary">Сохранить
        </button>
        <button type="button"
                (click)="revert()" [disabled]="offerForm.pristine" mat-raised-button color="warn">Отменить
        </button>
    </div>

</form>

