<a *ngIf="image" [href]="getLargeUrl()" data-fancybox>
    <div class="image" [style.backgroundImage]="'url(' + getPreviewUrl() + ')'"></div>
</a>

<div *ngIf="!image" class="image" [style.backgroundImage]="'url(' + defaultPreview + ')'"></div>
