<div style="height: 100vh;">
    <mat-toolbar color="primary">
        <div *ngIf="sidenav" fxShow="true" fxHide.gt-xs="true">
            <button class="toggle" href="#" (click)="sidenav.open()" mat-button>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button routerLink="/">
            <mat-icon class="logo">free_breakfast</mat-icon>
            Lunch Point
        </a>

        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-sm="true">
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a href="#" mat-button>Login</a>
            <a href="#" mat-button>Create lunch point</a>

            <ng-container *ngIf="distributors$ | async as distributors">

                <a *ngIf="distributors.length === 1" [routerLink]="['distributor', distributors[0].id]" mat-button>
                    {{distributors[0].data().name}}
                </a>

                <a *ngIf="distributors.length > 1" [routerLink]="['distributors']" mat-button>
                    Поставщики
                </a>

            </ng-container>

            <a *ngIf="userPhoneNumber$ | async" routerLink="/profile" mat-button>{{ userPhoneNumber$ | async }}</a>

        </div>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column">
                <a href="#" mat-button>Login</a>
                <a href="#" mat-button>Create lunch point</a>
                <a [routerLink]="['/offers']" mat-button>Offers</a>

                <a *ngIf="userPhoneNumber$ | async" routerLink="/profile" mat-button>{{ userPhoneNumber$ | async }}</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>

            <mat-card style="box-shadow: none;">
                <router-outlet></router-outlet>
            </mat-card>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
