<form [formGroup]="form">

    <div fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column"
         fxLayoutAlign.xs="space-around none">

        <div fxLayout="column">
            <app-image-selector formControlName="photo"></app-image-selector>
        </div>

        <div fxLayout="column">

            <mat-form-field>
                <input matInput formControlName="name" placeholder="Название">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="legalName" placeholder="Юридическое название">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput formControlName="description" placeholder="Описание"></textarea>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="phone" placeholder="Телефон">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="site" placeholder="Сайт">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="address" placeholder="Адрес">
            </mat-form-field>

            <div fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column"
                 fxLayoutAlign.xs="space-around none">

                <button
                    type="submit"
                    (click)="remove.emit()"
                    [style.display]="remove.observers.length ? 'block' : 'none'"
                    mat-raised-button
                    color="warn"
                >Удалить</button>

                <button
                    type="submit"
                    (click)="save.emit(form.getRawValue())"
                    [style.display]="save.observers.length ? 'block' : 'none'"
                    [disabled]="form.pristine || form.invalid"
                    mat-raised-button
                    color="primary"
                >Сохранить</button>

                <button
                    type="button"
                    (click)="cancel.emit()"
                    [style.display]="cancel.observers.length ? 'block' : 'none'"
                    mat-raised-button
                    >Отменить</button>

            </div>

        </div>

    </div>

</form>
