<div fxLayout="column">

    <app-image [image]="value"></app-image>

    <ngx-uploadcare-widget
        #uc
        crop="1:1"
        images-only="true"
        (on-upload-complete)="setValue($event.originalUrl); uc.clearUploads();"
    ></ngx-uploadcare-widget>

    <button *ngIf="value" class="uploadcare--widget__button" (click)="setValue('')">
        Удалить фотографию
    </button>

</div>
