<div *ngIf="profile$ | async as profile"
     fxLayoutAlign="start start"
     fxLayoutGap="20px"
     fxLayout="row"
     fxLayout.xs="column">

    <div fxLayout="column" class="user-info">

        <app-profile-form *ngIf="profile.data()" [profileData]="profile.data()">

            <div fxLayout="row" fxLayoutGap="20px">

                <button mat-raised-button color="primary" (click)="saveUser()" class="signOutButton">
                    Сохранить
                </button>

                <button mat-raised-button (click)="signOut()" class="signOutButton">
                    Выйти
                </button>

            </div>

        </app-profile-form>

    </div>

</div>
