<div *ngIf="authService.profile$ | async as profile"
     fxLayoutAlign="start start"
     fxLayoutGap="20px"
     fxLayout="row"
     fxLayout.xs="column">

    <app-user-photo></app-user-photo>

    <div fxLayout="column" class="user-info">

        <h3>{{ profile.phone }}</h3>

        <mat-form-field>
            <input matInput #firstName name="firstName" [value]="profile.firstName" type="text" placeholder="Имя">
        </mat-form-field>

        <mat-form-field>
            <input matInput #LastName name="lastName" [value]="profile.lastName" type="text" placeholder="Фамилия">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">

            <button mat-raised-button color="primary" (click)="saveUser()" class="signOutButton">
                Сохранить
            </button>

            <button mat-raised-button (click)="signOut()" class="signOutButton">
                Выйти
            </button>

        </div>

    </div>

</div>
